// =============================================================================
// Footer
// =============================================================================


.footer {
  max-width: 800px;
  margin: 25px auto;
  text-align: center;

  a { font-weight: 600; }
  p { margin-bottom: 5px; }
}

// Responsive
// =============================================================================

@include breakpoint(small) {
  .footer {
    padding: 0 15px;
    font-size: 14px;
  }
}
