// =============================================================================
// Footer
// =============================================================================


.footer {
  width: 800px;
  margin: 25px auto;
  text-align: center;

  a {
    font-weight: 600;
  }

  p {
    margin-bottom: 15px;
  }
}
